body {
  margin: 0;
  padding: 0;
  background: #f3f4f6;
  font-family: Arial, sans-serif;
}

.full-screen-center {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.mail-card {
  width: 900px;
  background: white;
  padding: 40px;
  border-radius: 16px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
}